body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 90px;
    margin-top: 150px;
    border-left: 10px solid tomato;
    border-radius: 5px;
    padding-left: 30px;
}
p{
    font-size: 25px;
    margin-bottom: 60px;
    margin-top: 60px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 50px;
    border-radius: 10px;
}
h2{
    font-size: 70px;
    text-align: center;
}
.my-mission{
    margin-left: 300px;
    margin-right: 300px;
}
.container{
    width: 30%;  
    margin-right: 50px;
    border-radius: 40px;
    padding: 40px;
}
h3{
    font-size: 40px;
}
.container img{
    width: 50%;
}
#mission{
    background-color:rgba(79, 157, 166, 0.1);
}
#vission{
    background-color: rgba(255, 89, 89, 0.1);;
}
#goals{
    background-color: #FFF4D6;
}
.develop{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    padding-left: 10%;
    padding-right: 15%; 
}
.develop-area{
    width: 50%;
    
}
.develop-area img {
    width: 70%;
}
.develop-area h2 {
    text-align: left;
}
.community{
    padding-left: 10%;
    padding-right: 15%; 
}
.community-area{
    width: 50%;
}
.community-area img{
    width: 80%;
    padding-left: 20%;
}
.skillsets{
    margin-left: 20%;
    margin-right: 20%;
    
}
.skillsets-area{
   width: 50%;
   box-shadow: 10px 10px 40px grey;
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 80px;
   padding-left: 20px;
   border-radius: 5px;
}
#html{
    border-left: 10px solid;
    border-image: linear-gradient(#7F7FD5,#86A8E7,#91EAE4) ;
    border-image-slice: 1;
}
#css{
    border-left: 10px solid;
    border-image: linear-gradient(#7F00FF,#E100FF) ;
    border-image-slice: 1;
}
.red-color{
    color: red;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;  
}